* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #3a7be3;

}

body {
    background: #3a7be3;
}

form {
    background: whitesmoke;
    width: 460px;
    margin: 50px auto;
    padding: 12px;
    border-radius: 8px;


}

h2 {
    background: white;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.482);

}

input {
    width: 89px;
    border: 1px solid #3a7be3;
    padding: 10px;
    color: #3a7be3;

}

.btn {
    background: #1f5ab6;
    width: 100px;
    color: white;
    border: none;
    padding: 10px;
    margin: 18px;


}

.inputs {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    padding: 12px;

}

span {
    color: #0c047d;
}